@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 259 100% 96%;
    --foreground: 259 5% 10%;
    --card: 259 50% 96%;
    --card-foreground: 259 5% 15%;
    --popover: 259 100% 96%;
    --popover-foreground: 259 100% 10%;
    --primary: 259 98% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 259 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 221 30% 95%;
    --muted-foreground: 259 5% 40%;
    --accent: 221 30% 90%;
    --accent-foreground: 259 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 259 5% 96%;
    --border: 259 30% 82%;
    --input: 259 30% 50%;
    --ring: 259 98% 36%;
    --radius: 1rem;
  }

  .dark {
    --background: 259 50% 10%;
    --foreground: 259 5% 96%;
    --card: 259 50% 10%;
    --card-foreground: 259 5% 96%;
    --popover: 259 50% 5%;
    --popover-foreground: 259 5% 96%;
    --primary: 259 98% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 259 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221 30% 25%;
    --muted-foreground: 259 5% 65%;
    --accent: 221 30% 25%;
    --accent-foreground: 259 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 259 5% 96%;
    --border: 259 30% 50%;
    --input: 259 30% 50%;
    --ring: 259 98% 36%;
    --radius: 1rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}